<div class="row">
  <div class="col-6">User</div>
  <div class="col-6 d-flex justify-content-end" ><a href="/addUser" type="button" class="btn btn-primary align-self-center">+ Add User</a></div>
</div>


{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{alert}}</strong>

</div>
{{/if}}

<table class="table table-bordered">
  <thead class = "thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.first_name}}</td>
      <td>{{this.last_name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.phone}}</td>
      <td><a href="/view-user/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-eye">view</i></a>
      <a href="/edituser/{{this.id}}" type="button" class="btn btn-light btn-small" id="edit"><i class="bi bi-pencil">edit</i></a>
      <a href="/{{this.id}}"  type="button" class="btn btn-light btn-small" id="delete"><i class="bi bi-person-x">delete</i></a></td>
    </tr>
    {{/each}}
  </tbody>
</table>